<div class="container my-5">
  
  <h2 class="mb-5">Buildings</h2>

  <div>
    <h4 class="mb-3">Import buildings data from CSV</h4>
    <%= form_tag import_buildings_path, multipart: true do %>
      <%= file_field_tag :file , required: true %>
      <%= submit_tag "Import CSV" %>
    <% end %>
  </div>

  <hr class="my-4">

  <h4 class="mb-3">Current buildings</h4>
  <div class="table-responsive">
    <table class="table table-striped table-sm">
      <thead>
        <tr>
          <th>Reference</th>
          <th>Address</th>
          <th>Zip code</th>
          <th>City</th>
          <th>Country</th>
          <th>Manager Name</th>
        </tr>
      </thead>
      <tbody>
        <%= render(@buildings) || "There are no buildings yet." %>
      </tbody>
    </table>
    <br>
  </div>

</div>