<footer class="page-footer fixed-bottom bg-light pt-3 mt-auto">
  <div class="container-fluid text-center">
    <p>Inch, powered by <a href="https://getbootstrap.com/">@Bootstrap</a></p>
  </div>
</footer>